<app-topbar></app-topbar>
@if (item) {
<div class="container">

  <div class="left-container">
    <div class="left">
        <div class="item-card">
          <div class="img-container">
            @if (item.icon) {
              <img width="140" height="120" [src]="item.icon">
            }
          </div>
          <h1 style="display:flex;margin-top: 10px;margin-bottom:5px;">{{ item.name }}</h1>
          <span
            class="rarity"
            [ngStyle]="{ 'background-color': getBackgroundColor() }"
            >{{ item.rarity }}
          </span>
          <div class="desc-container">
              <p>{{ item.description }}</p>
          </div>
            <div class="table">
              <table>
                <tr>
                  @if (item.name) { <th>Name</th> }
                  @if (item.item_type) { <th>Type</th> }
                  @if (item.rarity) { <th>Rarity</th> }
                  @if (item.value) { <th>Value</th> }
                  @if (item.locations?.length) { <th>Locations</th> }
                  @if (item.loot_area) { <th>Loot Area</th> }
                  @if (item.loadout_slots?.length) { <th>Loadout Slots</th> }
                </tr>
                <tr>
                  @if (item.name) { <td>{{ item.name }}</td> }
                  @if (item.item_type) { <td>{{ item.item_type }}</td> }
                  @if (item.rarity) { <td>{{ item.rarity }}</td> }
                  @if (item.value) { <td>{{ item.value }} <img width="20" src="raider-coin.webp"></td> }
                  @if (item.locations?.length) {
                  <td>
                      @for (location of item.locations; track $index) {
                        {{ location }}
                      }
                  </td>
                  }
                  @if (item.loot_area) { <td>{{ item.loot_area }}</td> }
                  @if (item.loadout_slots?.length) {
                    <td>
                      @for (slot of item.loadout_slots; track $index) {
                        {{ slot }}
                      }
                    </td>
                  }
                </tr>
              </table>
            <br>
            </div>
              @if (item.item_type == 'Weapon' && item.stat_block) {
              <div class="table">
                <table>
                  <tr>
                    @for (entry of getStatBlockEntries(); track $index) {
                      <th>{{ entry.key }}</th>
                    }
                  </tr>
                  <tr>
                    @for (entry of getStatBlockEntries(); track $index) {
                      <td>{{ entry.value }} @if (entry.key == "weight") { kg }</td>
                    }
                  </tr>
                </table>
              </div>
              }
          <br>
        </div>
    </div>
  </div>

  <div class="right">
  </div>

</div>
}
