<app-topbar></app-topbar>
<div class="container">

  <div class="left-container">
    <div class="left">
        <div class="item-card">
          <div class="img-container">
            <img width="140" height="120" [src]="this.item.icon">
          </div>
          <h1 style="display:flex;margin-top: 10px;margin-bottom:5px;">{{ this.item.name }}</h1>
          <span
            class="rarity"
            [ngStyle]="{ 'background-color': getBackgroundColor() }"
            >{{ this.item.rarity }}
          </span>
          <div class="desc-container">
            <p>{{ this.item.description }}.</p>
          </div>
            <div class="table">
              <table>
                <tr>
                  @for (i of getNormalStatsEntries(); track $index) {
                      <th *ngIf="i.value && !entriesNotToShow.includes(i.key) ">{{ i.key }}</th>
                    }
                </tr>
                <tr>
                  @for (i of getNormalStatsEntries(); track $index) {
                      @if (i.value && !entriesNotToShow.includes(i.key)) {
                        <td >
                          {{ i.value}}
                          @if (i.key == "value" ) {
                          <img width="20" style="margin-left: 0px;background: white;border-radius: 10px" width="15"height="15" src="raider-coin.webp">
                          }
                          </td>
                        }
                  }

                </tr>
              </table>
            <br>
            </div>
              <div class="table">
                <table >
                  <tr>
                    @for (i of getStatBlockEntries(); track $index) {
                      <th *ngIf="i.value && !entriesNotToShowStats.includes(i.key)">{{ i.key }}</th>
                    }
                  </tr>
                  <tr>
                    @for (i of getStatBlockEntries(); track $index) {
                        @if (i.value && !entriesNotToShowStats.includes(i.key)) {
                            <td>{{ i.value }} @if (i.key == "weight") { kg } </td>
                        }
                    }
                  </tr>
                </table>
              </div>
          <br>
        </div>
    </div>
  </div>

  <div class="right">
  </div>

  Last updated: {{ this.item.updated_at}}

</div>
