.left{
  background-color: var(--glass);
  padding: 10px;
  height: 80vh;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}

.rarity{
  display:flex;
  width: 100px;
  justify-content: center;
  padding:5px;
  margin-bottom: 10px;
  border-radius: 5px;
  color:black
}

.left-container{
  display: flex;
  justify-content: center;
}

.item-card{
  padding: 10px;
}

.img-container{
  display: flex;
  background-color:  var(--surface-2);
  border-radius: 10px;
  justify-content: center;
}

.desc-container p{
  display: inline-flex;
  width: 100%;
  max-height: 150px;
  overflow: auto;
  font-size: 20px;
}

.data{
}

.info-text{
  color: var(--muted);

}


.loadout-container {
    display: flex;
    overflow: hidden;
}


