<app-topbar></app-topbar>
<div class="container">

  <div class="left-container">
    <div class="left">
        <div class="item-card">
          <div class="img-container">
            <img width="140" height="120" [src]="this.item.icon">
          </div>
          <h1 style="margin-top: 5px;margin-bottom:5px">{{ this.item.name }}</h1>
          <span style="display:inline-flex;padding:5px;margin-bottom: 10px;border-radius: 5px;color:black"
            [ngStyle]="{ 'background-color': getBackgroundColor() }"
            >{{ this.item.rarity }}
          </span>
          <p>{{ this.item.description }}.</p>
          <div class="extra">
            <span>Item type</span> 
            <span *ngIf="this.item.workbench">Workbench</span>
            <span>Value</span>
            <span *ngIf="this.item.loadout_slots.length >= 1">Loadout Slot</span>
          </div>
          <div class="extra-info">
              <span
                class="info-text">
                {{ this.item.item_type}}
              </span>

              <span *ngIf="this.item.workbench" class="info-text">
                {{ this.item.workbench }}
              </span>

              <span class="info-text">
                {{ this.item.value }}
              </span>

            <div *ngIf="this.item.loadout_slots.length >= 1" class="loadout-container">
              @for (slot of item.loadout_slots ; track $index) {
                  <span class="info-text">{{ slot }},</span>
              }
            </div>

          </div>
        </div>
    </div>
  </div>

  <div class="right">
  </div>

</div>
