<app-topbar></app-topbar>

<div  class="container">
  <div class="searchbar">
    <div class="filter-h">
      <span>Item Type</span>
      <span>Item Rarity</span>
    </div>
    <input style="margin-top: 10px" spellcheck="false" (keydown.code.enter)="search()" [(ngModel)]="searchParameter.text" placeholder="Search ..." >

    <select style="margin-top: 10px" [(ngModel)]="searchParameter.type" (change)="onFilter()">
      <option value="">All</option>
      @for (type of itemTypesArray; track $index) {
          <option>{{ type }}</option>
        }
    </select>
    <select style="margin-top: 10px" [(ngModel)]="searchParameter.rarity" (change)="onFilter()">
      <option value="">All</option>
      @for (rare of itemRarityArray; track $index) {
          <option>{{ rare }}</option>
      }
    </select>
  </div>

  @if(isLoading ) {
    <div class="loading-container">
      <div class="load"></div>
    </div>
    }

  <div  class="item" *ngIf="!isLoading">
    @for(item of data; track $index) {
  
      <app-item-block
      [name]="item.name"
      [desc]="item.description"
      [img]="item.icon"
      route="item/{{ item.id }}"
      ></app-item-block>
    }
  </div>
<div *ngIf="!isLoading">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="pageData().totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
<br>
<br>
<br>
<br>

</div>


