.container{
  margin: 20px;
}


.obj-header{
  display: flex;

}

.items{
  display: grid;
  grid-template-columns: repeat(3,400px);
  justify-content: left;
  gap: 20px;
  margin-top: 0px;
}

.rewards{
  margin-top: 20px;
}

.rewards-header{
  display: flex;
}
