.container{
  margin: 20px;
}


.obj-header{
  display: flex;
  margin-top: 40px;

}

.items{
  display: grid;
  grid-template-columns: repeat(3,400px);
  justify-content: left;
  gap: 20px;
  margin-top: 0px;
  margin-left: 20px;
}


.header-item{
  margin-top: 20px;
}

.header{
  display:flex;
  margin-top: 20px;
}
