<app-topbar></app-topbar>
<div class="container">
  <div class="searchbar">
    <input spellcheck="false" (keydown.code.enter)="search()" [(ngModel)]="searchParameter.text" placeholder="Search ..." >
  </div>

  @if (isLoading) {
    <div class="loading-container">
      <div class="load"></div>
    </div>
  }

  <div class="item" *ngIf="!isLoading">
    @for(quest of data; track $index) {
    <app-item-block 
      [name]="quest.name"
      [desc]="quest.objectives[0] + ' '  + quest.objectives[1]"
      route="quest/{{quest.name}}"
    ></app-item-block>
    }
  </div>
  <br>
  <br>

  <app-pagination
  [totalPages]="pageData().totalPages"
  [currentPage]="currentItemPage"
  (pageChange)="onPageChange($event)"
  ></app-pagination>

</div>
