<div class="container">
  <app-topbar></app-topbar>

  <div class="searchbar">
    <input spellcheck="false" (keydown.code.enter)="search()" [(ngModel)]="searchParameter.text" placeholder="Search ..." >
  </div>

  @if (isLoading) {
    <div class="load"></div>
  }

  <div class="item" *ngIf="isLoading == false">
    @for(quest of data; track $index) {
    <app-item 
      [name]="quest.name"
      [desc]="quest.objectives[0] + ' '  + quest.objectives[1]"
      route="quest/{{quest.name}}"
    ></app-item>
    }
  </div>
  <br>
  <br>

</div>
