
.left-container{
  position: absolute;
  top: 150px;
  left: 50px;
  width: 1000px;
  text-align: justify;
  border-radius: 10px;
  padding: 10px;
}

.desc{
  font-size: 18px;
}

.details{
  display:flex;
}

.details img{
  width: 40px;
}


.loot-details{
  cursor: pointer;
  user-select: none;
}

.loot{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}
