.container{
  margin: 200px;
  margin-top: 0px;
}

.blocks{
  display: grid;
  grid-template-columns: repeat(5,250px);
  gap: 0px;
  margin-top: 0px;
}

.section-header{
  display: flex;
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 5px;
}


.intro{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 10px;
}
