<app-topbar></app-topbar>
<div class="container">

  <div class="searchbar">
    <input spellcheck="false" (keydown.code.enter)="search()" [(ngModel)]="searchParameter.text" placeholder="Search ..." >


  </div>

  @if(isLoading ) {
    <div class="loading-container">
      <div class="load"></div>
    </div>
    }

  <div class="items" *ngIf="!isLoading">
    @for (arc of data; track $index) {
    <app-item-block [name]="arc.name" [desc]="arc.description" [img]="arc.icon" [id]="arc.id" route="arc/{{ arc.id }}"  ></app-item-block>
    }
  </div>
<div *ngIf="!isLoading">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="pageData().totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
  <br>
  <br>
</div>

