.container{
  margin: 200px;
  margin-top: 0px;
}

.searchbar{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: left;
  gap: 10px;
  margin-top: 30px;
  margin-left: 70px;
  background-color: black;
  width: 200px;
}
input{
  font-size: 20px;
}

.items {
  display: grid;
  grid-template-columns: repeat(3,400px);
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  transition: 0.3s ease;

}
