.container{
  width: 200px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease;

}

.preview{
  filter: blur(1px);
}

.container h1{
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  margin-top: 58px;
  margin-left: 0px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 5px;
  width: 200px;
}

img{
  border-radius: 10px;
  border: 4px solid var(--border);
}

h1{
}

.container:hover{
  transform:scale(1.02);
}
