.container{
  margin: 200px;
  margin-top: 0px;
}
.trader{
  display: grid;
  grid-template-columns: repeat(3,400px);
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.searchbar{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: left;
  gap: 10px;
  margin-top: 30px;
  margin-left: 70px;
  background-color: black;
  width: 200px;
}

.filter-h{
  position: absolute;
  left: 610px;
  gap: 80px;
  display: grid;
  grid-template-columns: repeat(2,100px);
  color: var(--muted);

}

input{
  font-size: 20px;
}

.pages{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
